[submodule "minimal-api-work-with-databases"]
	path = minimal-api-work-with-databases
	url = https://github.com/MicrosoftDocs/minimal-api-work-with-databases.git
[submodule "DotNetMinimalAPIs/ReactMinimalAPIs"]
	path = DotNetMinimalAPIs/ReactMinimalAPIs
	url = https://github.com/MicrosoftDocs/minimal-api-work-with-databases.git
